$textLightColor: rgb(193, 196, 199);
$primaryColor: rgb(61, 169, 252);
$primaryBoldColor: rgb(53, 135, 197);
$whiteBoldColor: rgb(252, 252, 252);
$borderColor: rgb(235, 235, 235);
$iconColor: rgb(195, 196, 195);
$googleColor: rgb(250, 118, 106);
$facebookColor: rgba(12, 137, 239, 0.8);
